.sidebar-menu-container{
    /* border:5px solid yellow; */
    display:flex;
    height:100%;
}

.sidebar{
    display: flex;

}
.sidebar-menu {
    flex: 1;
    overflow: auto;
 
}
.sidebar-menu-container .ant-layout-sider .ant-layout-sider-children{
    width:100% !important;
}
.menu-home-button {
    width: 100%;
    background-color: #001529;
    color: white;
    height: 60px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: 2px solid grey;
  
}

.menu-home-button:active{
    background-color: #001529 !important;
    color:white;
}
.menu-home-button:hover{
    background-color: #001529 !important;
    color:white !important;
}